{% extends 'base.html.twig' %}

{% block title %}
    Gérer les campus
{% endblock %}

{% block body %}

    <h1>Gérer les campus</h1>

    <h2>Filtrer les campus</h2>

    <input type="search" name="campus" id="campus">

    <form action="" class="search">
        bouton
    </form>
    <br>

    <div class="tableau">
        <table cellspacing="0" cellpadding="1" border="1" width="500" >
            <tr style="color:white;background-color:grey">
                <th>Campus</th>
                <th>Actions</th>
            </tr>
            {% for c in campus %}
                <div class="campus">
                    <tr>
                        <td>{{ c.nomCampus }}</td>
                        <td>actions...</td>
                    </tr>
                </div>
            {% endfor %}
            <tr>
                {{ form_start(formCampus) }}
                <td>{{ form_widget(formCampus.nomCampus) }}</td>
                <td><button type="submit">Ajouter</button></td>
                {{ form_end(formCampus) }}
            </tr>
        </table>
    </div>
    </td>
    </tr>
    </table>
    </div>

{% endblock %}