{% extends 'base.html.twig' %}

{% block title %}
    Gérer les villes
{% endblock %}

{% block body %}

    <h1>Gérer les villes</h1>

    <h2>Filtrer les villes</h2>

    <input type="search" name="ville" id="ville">

    <form action="#" class="search">
        <button type="submit">Rechercher</button>
    </form>

{% endblock %}