{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <div class="container">
    <h1>Recupérer mot de  passe</h1>
        <section id="mdp">
            <a href="{{ path('login') }}se connecter"></a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Reinitialiser mon mot de passe</button>
    {{ form_end(form) }}
        </section>
    </div>

{% endblock %}
