{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <form action="{{ path('login') }}" method="post">
        <label for="pseudo">Pseudo :</label>
        <input type="text" name="_username" id="pseudo">

        <label for="password">Mot de passe: </label>
        <input type="password" name="_password" id="password">

        <button type="submit">Connexion</button>

        <input type="checkbox" id="remember_me" name="_remember_me" checked/>
        <label for="remember_me">Se souvenir de moi</label>
    </form>



{% endblock %}
