{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="container">
    <form action="{{ path('login') }}" method="post">
        <div class="item">
            <label for="pseudo">Pseudo : </label>
            <input type="text" name="_username" id="pseudo">
        </div>
        <div class="item">
            <label for="password">Mot de passe: </label>
            <input type="password" name="_password" id="password">
        </div>

        <button type="submit">Connexion</button>

        <input type="checkbox" id="remember_me" name="_remember_me" checked/>
        <label for="remember_me">Se souvenir de moi</label>
    </form>

    <a href="{{ path('forgottenPassword') }}"> mot de passe oublié </a>

</div>

{% endblock %}
