{% extends 'base.html.twig' %}

{% block title %}Creer un Profil{% endblock %}

{% block body %}
<div class="container">
        <h1>Créer des participants par fichier (Csv, Xml, Yaml)</h1>


            {{ form_start(form) }}

            {{ form_widget(form) }}


             <button type="submit">Créer les profils</button>
            {{ form_end(form) }}
</div>

{% endblock %}
