{%  extends 'base.html.twig' %}

{% block main %}
    <h2>Date du jour : {{ "now" | date('d/m/Y') }}</h2>

    <table>
        {# affiche la liste des sorties #}
        {% for sortie in sorties %}

                <tr>
                    <td> {{ sortie.nom }} </td>
                </tr>
        {%  endfor %}
    </table>

{% endblock %}

{% block title %}Our series | {{ parent() }} {% endblock %}