<nav>
    <ul>

      {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

          <th><a href="{{ path('home') }}">Accueil</a></th>
          <th><a href="{{ path('monProfil') }}">Mon profil</a></th>
        <th><a href="{{ path('logout') }}">Se déconnecter</a> </th>


        {%  else %}

            <li><a href="{{ path('login') }}">Se connecter</a></li>
        {% endif %}

    </ul>

</nav>